<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Product Update - Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="../admin/css/admin.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- jQuery 라이브러리 추가 -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- 공용 자바스크립트 파일 추가 -->
        <script src="/admin/js/admin-check.js"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">슈퍼노바 관리자 페이지</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            </form>

            <!-- Header-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">설정</a></li>
                        <li><a class="dropdown-item" href="#!">활동 로그</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="admin-login.html">로그아웃</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Menu-->
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">통계</div>
                            <a class="nav-link" href="index.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                판매 통계
                            </a>
                            <div class="sb-sidenav-menu-heading">상품</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts1" aria-expanded="false" aria-controls="collapseLayouts1">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                상품 관리
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts1" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="admin-product-create.html">상품 등록</a>
                                    <a class="nav-link" href="admin-product.html">상품 관리</a>
                                </nav>
                            </div>

                            <div class="sb-sidenav-menu-heading">회원</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts2" aria-expanded="false" aria-controls="collapseLayouts2">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                회원 관리
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts2" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="admin-user.html">회원 조회</a>
                                    <a class="nav-link" href="admin-coupon-mileage.html">회원 쿠폰, 마일리지</a>
                                </nav>
                            </div>

                            <div class="sb-sidenav-menu-heading">리뷰</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts3" aria-expanded="false" aria-controls="collapseLayouts3">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                리뷰 관리
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts3" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="admin-review.html">리뷰 삭제</a>
                                </nav>
                            </div>

                            <div class="sb-sidenav-menu-heading">Q&A</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts4" aria-expanded="false" aria-controls="collapseLayouts4">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Q&A 관리
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts4" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="admin-question.html">Q&A 답변 등록</a>
                                </nav>
                            </div>

                        </div>
                    </div>
                </nav>
            </div>

            <!-- Product Create Page-->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Product Update</h1>
                        <div class="card mb-4">
                            <div class="card-body">
                                상품 수정
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Product Table
                            </div>
                            <div class="card-body">

                                <form>
                                    <div class="mb-3">
                                        <label for="productName" class="form-label">상품 명</label>
                                        <input type="text" class="form-control" id="productName" placeholder="상품 명을 입력하세요">
                                    </div>
                                    <div class="mb-3">
                                        <label for="productPrice" class="form-label">가격</label>
                                        <input type="number" class="form-control" id="productPrice" placeholder="가격을 입력하세요">
                                    </div>
                                    <div class="mb-3">
                                        <label for="productDescription" class="form-label">설명</label>
                                        <textarea class="form-control" id="productDescription" rows="3" placeholder="설명을 입력하세요"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="productImage" class="form-label">이미지</label>
                                        <input class="form-control" type="file" id="productImage">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">상품 분류</label><br>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="category1" value="option1">
                                            <label class="form-check-label" for="category1">TOP</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="category2" value="option2">
                                            <label class="form-check-label" for="category2">BOTTOM</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="category3" value="option3">
                                            <label class="form-check-label" for="category3">SHOES</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="category4" value="option4">
                                            <label class="form-check-label" for="category4">GOODS</label>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">사이즈</label><br>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="sizeS" value="S">
                                            <label class="form-check-label" for="sizeS">S</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="sizeM" value="M">
                                            <label class="form-check-label" for="sizeM">M</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="sizeL" value="L">
                                            <label class="form-check-label" for="sizeL">L</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="sizeXL" value="XL">
                                            <label class="form-check-label" for="sizeXL">XL</label>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">컬러</label><br>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="colorRed" value="Red">
                                            <label class="form-check-label" for="colorRed">RED</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="colorBlue" value="Blue">
                                            <label class="form-check-label" for="colorBlue">BLACK</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="colorGreen" value="Green">
                                            <label class="form-check-label" for="colorGreen">GRAY</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="colorBlack" value="Black">
                                            <label class="form-check-label" for="colorBlack">WHITE</label>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary" id="submitButton">수정</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </main>

                <!-- Footer-->
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">(주)패션노바 2024</div>
                            <div>
                                <a href="#">개인정보 보호정책</a>
                                &middot;
                                <a href="#">이용약관</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="../admin/js/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="../admin/js/datatables.js"></script>
        <script src="../admin/js/admin-product-create.js"></script>
    </body>
</html>
