@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Noto Sans KR", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
}

body::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("https://thumb.mtstarnews.com/21/2021/05/2021051214334475300_1.jpg") no-repeat center;
  background-size: cover;
  filter: brightness(0.5);
  background-color: rgba(0, 0, 0, .6);
}

.login-form {
  position: relative;
  z-index: 2;
}

.login-form h1 {
  font-size: 32px;
  color: #fff;
  text-align: center;
  margin-bottom: 60px;
}

.int-area {
  width: 400px;
  position: relative;
  margin-top: 20px;
}

.int-area:first-child {
  margin-top: 0;
}

.int-area input {
  width: 100%;
  padding: 20px 10px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999;
  font-size: 18px;
  color: #999;
  outline: none;
}

.int-area label {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 18px;
  color: #999;
  transition: all .5s ease;
}

.int-area label.warning {
  color:red !important;
  animation: warning .2s ease;
  animation-iteration-count: 2;
}

@keyframes warning {
  0% {transform: translate(-3px);}
  25% {transform: translate(3px);}
  50% {transform: translate(-3px);}
  75% {transform: translate(3px);}
}

.int-area input:focus+label,
.int-area input:valid+label,
.int-area input.has-value+label {
  top: -2px;
  font-size: 13px;
  color: #009ec1;
}

.btn-area {
  margin-top: 30px;
}

.btn-area button {
  width: 100%;
  height: 50px;
  background-color: #009ec1;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

#login-kakao-btn {
  margin: 20px 0 8px;
  height: 50px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /*margin: 0 0 8px;*/
  padding: 11px 12px;
  background-color: #ffd43b;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #414141;
}

.caption {
  margin-top: 20px;
  text-align: center;
}

.caption a {
  font-size: 15px;
  color: #999;
  text-decoration: none;
}