<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fashion Nova Login</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="../css/login.css" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <!--============================================================================================-->
  <script type="module">

    $('#btn').click(async function () {

      // 유효성 검증
      let isValid = true;

      $.each($('.int-area > input'), function (index, item) {
        if (isValid) {
          if ($(item).val() == "") {
            $(item).next('label').addClass('warning');
            setTimeout(function () {
              $('label').removeClass('warning');
            }, 1500);
            $(item).focus();
            isValid = false;
          }
        }
      })
    });
  </script>
  <!--============================================================================================-->
</head>

<body>
<section class="login-form" style="text-align: center;">
  <a href="index.html" class="logo" style="display: inline-block;">
    <img src="../images/icons/logo-01.png" alt="IMG-LOGO" style="width: 150px; height: auto;">
  </a>
  <h1>LOGIN</h1>
  <form action="">
    <div class="int-area">
      <input type="text" name="username" id="username" autocomplete="off" required>
      <label for="username">ID</label>
    </div>
    <div class="int-area">
      <input type="password" name="password" id="password" autocomplete="off" required>
      <label for="password">PASSWORD</label>
    </div>
    <div class="btn-area">
      <button id="btn" onclick="onLogin()" type="button">LOGIN</button>
      <button id="login-kakao-btn" onclick="location.href='https://kauth.kakao.com/oauth/authorize?client_id=6a0a695cf674d71866251ddbfd539f84&redirect_uri=https://super-nova.store/users/kakao/callback&response_type=code'">
        카카오로 로그인하기
      </button>
    </div>
  </form>
  <div class="caption">
    <a href="#" onclick="location.href='signup.html'">SIGN UP</a>
  </div>
</section>
<!--============================================================================================-->
<script src="/js/login.js"></script>
<!--============================================================================================-->
<script>
  $(document).ready(function() {
    $(document).keypress(function(event) {
      if (event.which == 13) {
        event.preventDefault()
        onLogin();
      }
    });
  });
</script>
<!--============================================================================================-->
</body>
</html>