<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Info</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="../images/icons/favicon.png"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css"
        href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css"
        href="../fonts/iconic/css/material-design-iconic-font.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../fonts/linearicons-v1.0.0/icon-font.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../vendor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../vendor/perfect-scrollbar/perfect-scrollbar.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../css/util.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/my-info.css">
  <!--===============================================================================================-->
</head>
<body class="animsition">

<!-- Header -->
<header>
  <!-- Header desktop -->
  <div class="container-menu-desktop">
    <!-- Topbar -->
    <div class="top-bar">
      <div class="content-topbar flex-sb-m h-full container">
        <div class="left-top-bar">
          패셔니스타들을 위한, 패셔니스타들에 의한 패션노바
        </div>

        <div class="right-top-bar flex-w h-full">
          <a href="login.html" id="auth-btn" class="flex-c-m trans-04 p-lr-25">
            Login
          </a>

          <a href="question.html" class="flex-c-m trans-04 p-lr-25">
            Q&A
          </a>

          <a href="my-page.html" class="flex-c-m trans-04 p-lr-25">
            My Page
          </a>
        </div>
      </div>
    </div>

    <div class="wrap-menu-desktop">
      <nav class="limiter-menu-desktop container">

        <!-- Logo desktop -->
        <a href="index.html" class="logo">
          <img src="../images/icons/logo-01.png" alt="IMG-LOGO">
        </a>

        <!-- Menu desktop -->
        <div class="menu-desktop">
          <ul class="main-menu">
            <li>
              <a href="about.html">About</a>
            </li>

            <li class="label1" data-label1="hot">
              <a href="product.html">Shop</a>
            </li>

            <li>
              <a href="contact.html">Contact</a>
            </li>
          </ul>
        </div>

        <!-- Icon header -->
        <div class="wrap-icon-header flex-w flex-r-m">
          <a id="cart-icon" href="shoping-cart.html"
             class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart"
             data-notify="">
            <i class="zmdi zmdi-shopping-cart"></i>
          </a>

          <a id="wish-icon" href="wish-list.html"
             class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
             data-notify="">
            <i class="zmdi zmdi-favorite-outline"></i>
          </a>
        </div>
      </nav>
    </div>
  </div>
</header>

	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			My Info
		</h2>
	</section>

<!-- breadcrumb -->
<div class="container">
  <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
    <a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
      Home
      <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
    </a>

    <a href="my-page.html" class="stext-109 cl8 hov-cl1 trans-04">
      My Page
      <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
    </a>

    <span class="stext-109 cl4">
				My Info
			</span>
  </div>
</div>

<!-- My Info page -->
<section class="bg0 p-t-104 p-b-116">
  <div class="container">

    <!-- 배송지 관리 -->
    <div class="delivery-management">
      <h4 class="mtext-105 cl2 txt-center p-b-30">
        배송지 관리
      </h4>
      <!-- 배송지 카드 동적으로 추가할 부분 -->
      <div class="address-box">
        <div>
          <button class="btn btn-secondary">기본배송지로 설정</button>
          <button class="btn btn-secondary">삭제</button>
          <p>서울 강남구 어쩌구 저쩌구</p>
          <p>1212번지</p>
        </div>

      </div>
      <div class="text-center m-b-20">
        <button id="addAddressBtn" class="btn btn-primary">배송지 추가</button>
      </div>
    </div>

    <!-- 회원 정보 수정 -->
    <div class="member-info">
      <h4 class="mtext-105 cl2 txt-center p-b-30">
        회원 정보 수정
      </h4>
      <form class="info-form">
        <div class="form-group">
          <label for="username">아이디</label>
          <input type="text" id="username" placeholder="아이디를 입력하세요" required>
        </div>
        <div class="form-group">
          <label for="password">새로운 비밀번호</label>
          <input type="password" id="password" placeholder="새로운 비밀번호를 입력해주세요" required>
        </div>
        <div class="form-group">
          <label for="confirm-password">비밀번호 확인</label>
          <input type="password" id="confirm-password" placeholder="새로운 비밀번호를 다시 입력해주세요" required>
        </div>
        <div class="form-group">
          <label for="name">이름</label>
          <input type="text" id="name" placeholder="이름을 입력하세요" required>
        </div>
        <div class="form-group">
          <label for="phone">휴대폰</label>
          <input type="text" id="phone" placeholder="휴대폰 번호를 입력하세요" required>
        </div>
        <div class="form-group">
          <label for="email">이메일</label>
          <input type="email" id="email" placeholder="example@gmail.com" required>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-save">수정</button>
          <button type="reset" class="btn btn-cancel" id="cancelBtn">취소</button>
          <button type="button" id="deleteAccountBtn" class="btn btn-cancel">회원탈퇴</button>
        </div>
      </form>
    </div>
  </div>
</section>

<!-- 배송지 추가 모달 -->
<div id="addAddressModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h4 class="mtext-105 cl2 txt-center p-b-30">배송지 추가</h4>
    <form id="addAddressForm">
      <div class="form-group">
        <input type="text" id="address_name" class="address-box form-control" placeholder="배송지별칭">
        <input type="text" id="recipient_name" class="address-box form-control" placeholder="수취인">
        <input type="text" id="recipient_phone" class="address-box form-control"
               placeholder="수취인번호">
        <input type="text" id="sample6_postcode" class="address-box form-control"
               placeholder="우편번호">
        <input type="button" class="btn ui-icon-clock" onclick="sample6_execDaumPostcode()"
               value="우편번호 찾기">
        <input type="text" id="sample6_address" class="address-box form-control" placeholder="주소">
        <input type="text" id="sample6_extraAddress" class="address-box form-control"
               placeholder="기타주소">

        <input type="text" id="sample6_detailAddress" class="address-box form-control" placeholder="상세주소">
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-save">추가</button>
        <button type="button" class="btn btn-cancel close">취소</button>
      </div>
    </form>
  </div>
</div>

<!--&lt;!&ndash; 회원탈퇴 모달 &ndash;&gt;-->
<!--<div id="deleteAccountModal" class="modal">-->
<!--  <div class="modal-content">-->
<!--    <span class="close">&times;</span>-->
<!--    <h4 class="mtext-105 cl2 txt-center p-b-30">회원탈퇴</h4>-->
<!--    <p class="txt-center">정말 회원탈퇴를 하시겠습니까?</p>-->
<!--    <div class="text-center">-->
<!--      <button type="button" class="btn btn-save">예</button>-->
<!--      <button type="button" class="btn btn-cancel close">아니오</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-lg-3 p-b-50">
        <h4 class="stext-301 cl0 p-b-30">
          FEEDBACK
        </h4>

        <p class="stext-107 cl7 size-201">
          언제나 고객님들의 피드백을 반영하여 항상 더욱 발전하는 패션 노바가 되겠습니다.
        </p>
      </div>

      <div class="p-t-40">
        <div class="flex-c-m flex-w p-b-18">
          <a href="#" class="m-all-1">
            <img src="../images/icons/icon-pay-01.png" alt="ICON-PAY">
          </a>
        </div>

        <p class="stext-107 cl6 txt-center">
          이 홈페이지는 상업적으로 이용되지 않습니다.
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
</div>

<!--===============================================================================================-->
<script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/bootstrap/js/popper.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/select2/select2.min.js"></script>
<script>
  $(".js-select2").each(function () {
    $(this).select2({
      minimumResultsForSearch: 20,
      dropdownParent: $(this).next('.dropDownSelect2')
    });
  })
</script>
<!--===============================================================================================-->
<script src="../vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
  $('.js-pscroll').each(function () {
    $(this).css('position', 'relative');
    $(this).css('overflow', 'hidden');
    var ps = new PerfectScrollbar(this, {
      wheelSpeed: 1,
      scrollingThreshold: 1000,
      wheelPropagation: false,
    });

    $(window).on('resize', function () {
      ps.update();
    })
  });
</script>
<!--===============================================================================================-->
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
<script src="../js/map-custom.js"></script>
<!--===============================================================================================-->
<script src="/js/common.js"></script>
<script src="../js/main.js"></script>
<!--===============================================================================================-->
<script>
  $(document).ready(function () {
    // let cartDto = window.common.cartDto;
    // let wishList = window.common.wishList;
    // console.log(cartDto)
    // 	console.log(wishList)

    /* 장바구니 아이콘 개수 */
    window.common.getShoppingCart()
    .done(function (response) {
      if (response) {
        $('a#cart-icon')[0].dataset.notify = response.cartItemDtoList.length;
      } else {
        // no response
      }
    })
    .fail(function (error) {
      console.log(error.message)
    });

    /* 찜 아이콘 개수 */
    window.common.getWishList()
    .done(function (response) {
      if (response) {
        $('a#wish-icon')[0].dataset.notify = response.length;
      } else {
        // no response
      }
    });
  });

</script>
<!--===============================================================================================-->
<script>
  // 모달 열기
  var addAddressModal = document.getElementById("addAddressModal");
  var deleteAccountModal = document.getElementById("deleteAccountModal");
  var addAddressBtn = document.getElementById("addAddressBtn");
  var deleteAccountBtn = document.getElementById("deleteAccountBtn");
  var spans = document.getElementsByClassName("close");
  var closeButtons = document.getElementsByClassName("btn-cancel close");

  addAddressBtn.onclick = function () {
    addAddressModal.style.display = "flex";
  }

  deleteAccountBtn.onclick = function () {
    deleteAccountModal.style.display = "flex";
  }

  // 모달 닫기
  for (var i = 0; i < spans.length; i++) {
    spans[i].onclick = function () {
      this.parentElement.parentElement.style.display = "none";
    }
  }

  // 취소 버튼으로 모달 닫기
  for (var i = 0; i < closeButtons.length; i++) {
    closeButtons[i].onclick = function () {
      this.closest(".modal").style.display = "none";
    }
  }

  // 모달 외부 클릭 시 닫기
  window.onclick = function (event) {
    if (event.target == addAddressModal) {
      addAddressModal.style.display = "none";
    } else if (event.target == deleteAccountModal) {
      deleteAccountModal.style.display = "none";
    }
  }
</script>
<!--===============================================================================================-->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
  function sample6_execDaumPostcode() {
    new daum.Postcode({
      oncomplete: function (data) {
        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
        var addr = ''; // 주소 변수
        var extraAddr = ''; // 참고항목 변수

        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
          addr = data.roadAddress;
        } else { // 사용자가 지번 주소를 선택했을 경우(J)
          addr = data.jibunAddress;
        }

        // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
        if (data.userSelectedType === 'R') {
          // 법정동명이 있을 경우 추가한다. (법정리는 제외)
          // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
          if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
            extraAddr += data.bname;
          }
          // 건물명이 있고, 공동주택일 경우 추가한다.
          if (data.buildingName !== '' && data.apartment === 'Y') {
            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
          }
          // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
          if (extraAddr !== '') {
            extraAddr = ' (' + extraAddr + ')';
          }
          // 조합된 참고항목을 해당 필드에 넣는다.
          document.getElementById("sample6_extraAddress").value = extraAddr;

        } else {
          document.getElementById("sample6_extraAddress").value = '';
        }

        // 우편번호와 주소 정보를 해당 필드에 넣는다.
        document.getElementById('sample6_postcode').value = data.zonecode;
        document.getElementById("sample6_address").value = addr;
        // 커서를 상세주소 필드로 이동한다.
        // document.getElementById("sample6_detailAddress").focus();
      }
    }).open();
  }
</script>
<!--===============================================================================================-->
<script>
  // 배송지 등록
  $(document).ready(function () {

    let auth = localStorage.getItem('accessToken');
    //로그인 안되어 있으면 로그인으로 옮기기
    if (!auth) {
      alert("로그인 후 이용해 주세요");
      window.location.href = "login.html";
    }

    $('.close').on('click', function() {
      $('#addAddressModal').hide();
    });
    $('#addAddressForm').on('submit', function (event) {
      event.preventDefault();


      var requestDto = {
        name: $('#address_name').val(),
        recipientName: $('#recipient_name').val(),
        recipientNumber: $('#recipient_phone').val(),
        zipCode: $('#sample6_postcode').val(),
        address: $('#sample6_address').val(),
        detail: $('#sample6_detailAddress').val()
      };

      // 휴대폰 번호 검사
      var phonePattern = /^010-\d{4}-\d{4}$/;
      if (!phonePattern.test(requestDto.recipientNumber)) {
        alert("휴대폰 번호를 010-xxxx-xxxx 형식으로 입력해주세요.");
        return;
      }

      // null 체크
      if (requestDto.name === "") {
        alert("별칭을 입력해 주세요")
        return;
      }

      if (requestDto.recipientName === "") {
        alert("수취인을 입력해 주세요")
        return;
      }

      if (requestDto.zipCode === "") {
        alert("우편번호를 입력해 주세요")
        return;
      }

      $.ajax({
        url: '/addresses',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(requestDto),
        success: function (response) {
          if (response === "배송지 추가 성공") {
            alert("배송지 추가 완료")
            location.reload();
          }
        },
        error: function () {
          alert('배송지 추가에 실패했습니다.');
        }
      });
    });

    // 배송지 카드 붙이기


    // 주소 리스트 로드
    function loadAddresses() {
      $.ajax({
        url: '/addresses', // 서버 URL을 입력하세요
        type: 'GET',
        success: function (addresses) {
          var addressContainer = $('.delivery-management .address-box');
          addressContainer.empty(); // 기존 주소 목록 비우기

          addresses.forEach(function (address) {
            var addressCard =  `
        <div class="address-card" data-address-id="${address.id}" data-is-default="${address.defaultAddress}">
            <div>
                <button class="btn btn-secondary btn-set-default">${address.defaultAddress ? '기본배송지' : '기본배송지로 설정'}</button>
                <button class="btn btn-secondary btn-delete-address" data-address-id="${address.id}">삭제</button>
                <p>${address.address}</p>
                <p>${address.detail}</p>
            </div>
        </div>
    `;
            addressContainer.append(addressCard);
          });
        },
        error: function () {
          alert('배송지 목록을 불러오는 데 실패했습니다.');
        }
      });
      }
    // 기본 배송지 설정
    $(document).on('click', '.btn-set-default', function () {
      var $addressCard = $(this).closest('.address-card');
      var addressId = $addressCard.data('address-id');
      var isDefault = $addressCard.data('is-default');

      // 기본 배송지 여부 확인
      if (isDefault) {
        alert('이미 기본 배송지로 설정되어 있습니다.');
        return;  // 실행 중단
      }

      var addressDefaultRequestDto = {
        addressId: addressId
      };

      $.ajax({
        url: '/addresses',
        type: 'PUT',
        contentType: 'application/json',
        data: JSON.stringify(addressDefaultRequestDto),
        success: function (response) {
          if (response === "기본 배송지 설정 성공") {
            alert("기본 배송지 업데이트 완료");
            loadAddresses(); // 주소 목록을 다시 로드
          }
        },
        error: function () {
          alert('기본배송지 설정에 실패했습니다.');
        }
      });
    });

    // 배송지 삭제
    $(document).on('click', '.btn-delete-address', function () {
      var addressId = $(this).data('address-id');
      var addressDeleteRequestDto ={
        addressId : addressId
      }

      $.ajax({
        url: '/addresses',
        type: 'DELETE',
        contentType: 'application/json',
        data: JSON.stringify(addressDeleteRequestDto),
        success: function (response, textStatus, jqXHR) {
          if (jqXHR.status === 200 ) {
            alert("배송지 삭제 완료");
            loadAddresses(); // 주소 목록을 다시 로드
          }
        },
        error: function () {
          alert('배송지 삭제에 실패했습니다.');
        }
      });
    });
      loadAddresses()
    // 유저정보 가져오기
    $.ajax({
      url: '/users',
      type: 'GET',
      success: function (response) {
        $('#username').val(response.username);
        $('#name').val(response.name);
        $('#phone').val(response.phone);
        $('#email').val(response.email);
      },
      error: function () {
        alert('유저 정보를 불러오는 데 실패했습니다.');
      }
    });

    // 회원정보 수정
    $('.info-form').on('click','.btn-save', function (event) {
      event.preventDefault();

      // 입력받은 값 가져오기
      var confirmPassword = $('#confirm-password').val();

      var updateDto = {
        userName: $('#username').val(),
        password: $('#password').val(),
        name: $('#name').val(),
        phone: $('#phone').val(),
        email: $('#email').val()
      };

      // 2차 비밀번호 일치 확인
      if (updateDto.password !== confirmPassword) {
        alert("비밀번호가 일치하지 않습니다.");
        return;
      }
      // 휴대폰 형식 확인
      var phonePattern = /^010-\d{4}-\d{4}$/;

      if (!phonePattern.test(updateDto.phone)) {
        alert("휴대폰 번호를 010-xxxx-xxxx 형식으로 입력해주세요.");
        return;
      }

      // ID 검증
      if (updateDto.userName.length < 4 || updateDto.userName.length > 100) {
        alert("ID는 최소 4글자, 최대 100글자입니다.");
        return;
      }

      // 비밀번호 검증
      const passwordPattern = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&^]{8,}$/;
      if (!passwordPattern.test(updateDto.password)) {
        alert("비밀번호는 영문, 숫자, 특수문자 포함 8자리 이상이어야 합니다.");
        return;
      }

      // 이름 검증
      if (updateDto.name.length < 2 || updateDto.name.length > 50) {
        alert("이름은 최소 2글자, 최대 50글자 입니다.");
        return;
      }

      // 이메일 검증
      const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
      if (!emailPattern.test(updateDto.email)) {
        alert("이메일 형식에 맞지 않습니다.");
        return;
      }

      $.ajax({
        url: '/users' ,
        type: 'PUT',
        contentType: 'application/json',
        data: JSON.stringify(updateDto),
        success: function () {
          alert('회원 정보가 수정되었습니다.');
          location.reload();
        },
        error: function () {
          alert('회원 정보 수정에 실패했습니다.');
        }
      });
    });

    // 취소 버튼을 눌렀을 때 페이지를 리로드하는 이벤트 리스너
    document.getElementById('cancelBtn').addEventListener('click', function(event) {
      event.preventDefault(); // 기본 동작 방지
      window.location.reload(); // 페이지 리로드
    });

  });

  // 회원탈퇴
  $('#deleteAccountBtn').on('click', function () {
    if (confirm('정말로 회원탈퇴를 하시겠습니까?')) {
      $.ajax({
        url: '/users/withdraw',
        type: 'PUT',
        success: function () {
          alert('회원탈퇴가 완료되었습니다.');
          // 토큰 삭제
          localStorage.removeItem('accessToken');
          localStorage.removeItem('refreshToken');

          // index.html로 이동
          window.location.href = 'index.html';
        },
        error: function (xhr, status, error) {
          alert('회원탈퇴에 실패했습니다.' + error.message);
        }
      });
    }
  });


</script>
<!--===============================================================================================-->


</body>
</html>