<!DOCTYPE html>
<html lang="en">
<head>
    <title>Order</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../images/icons/favicon.png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="../fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../css/util.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/review.css">
    <link rel="stylesheet" type="text/css" href="/css/order.css">
    <!--===============================================================================================-->
</head>
<style>
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .pagination button {
        padding: 8px 16px;
        margin: 0 5px;
        border: 1px solid #ccc;
        background-color: #fff;
        cursor: pointer;
    }
    .pagination button.active {
        background-color: #007bff;
        color: #fff;
        border-color: #007bff;
    }
</style>
<body class="animsition">

<!-- Header -->
<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <!-- Topbar -->
        <div class="top-bar">
            <div class="content-topbar flex-sb-m h-full container">
                <div class="left-top-bar">
                    패셔니스타들을 위한, 패셔니스타들에 의한 패션노바
                </div>

                <div class="right-top-bar flex-w h-full">
                    <a href="login.html" id="auth-btn" class="flex-c-m trans-04 p-lr-25">
                        Login
                    </a>

                    <a href="question.html" class="flex-c-m trans-04 p-lr-25">
                        Q&A
                    </a>

                    <a href="my-page.html" class="flex-c-m trans-04 p-lr-25">
                        My Page
                    </a>
                </div>
            </div>
        </div>

        <div class="wrap-menu-desktop">
            <nav class="limiter-menu-desktop container">

                <!-- Logo desktop -->
                <a href="index.html" class="logo">
                    <img src="../images/icons/logo-01.png" alt="IMG-LOGO">
                </a>

                <!-- Menu desktop -->
                <div class="menu-desktop">
                    <ul class="main-menu">
                        <li>
                            <a href="about.html">About</a>
                        </li>

                        <li class="label1" data-label1="hot">
                            <a href="product.html">Shop</a>
                        </li>

                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>

                <!-- Icon header -->
                <div class="wrap-icon-header flex-w flex-r-m">
                    <a id="cart-icon" href="shoping-cart.html"
                       class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart"
                       data-notify="">
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </a>

          <a id="wish-icon" href="wish-list.html"
             class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
             data-notify="">
            <i class="zmdi zmdi-favorite-outline"></i>
          </a>
        </div>
      </nav>
    </div>
  </div>
</header>

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92"
         style="background-image: url('/images/bg-01.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        Order
    </h2>
</section>

<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <a href="my-page.html" class="stext-109 cl8 hov-cl1 trans-04">
            My Page
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
				Order
			</span>
    </div>
</div>

<!-- Order -->
<form class="bg0 p-t-75 p-b-85">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <div class="m-l-10 m-r--100 m-lr-0-xl">
          <div class="wrap-table-shopping-cart">
            <table class="table-shopping-cart">
              <tr class="table_head">
                <th class="column-1">주문 번호</th>
                <th class="column-2">상품 이름</th>
                <th class="column-3">주문 날짜</th>
                <th class="column-4">가격</th>
                <th class="column-5">주문 상태</th>
                <th class="column-5.5">배송지</th>
                <th class="column-6">배송 상태</th>
                <th class="column-7">Edit</th>
              </tr>

              <!-- 오더가 동적으로 추가될 곳  -->
              <tbody id="order-list">
              <!-- 동적으로 추가된 주문 항목들이 여기에 삽입됩니다. -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="pagination" id="pagination">
        <!-- 페이징 버튼들이 여기에 동적으로 삽입됩니다. -->
    </div>
</form>

<!-- Modal -->
<div id="cancelOrderModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h4 class="mtext-105 cl2 txt-center p-b-30">취소 신청</h4>
        <form id="cancel-order-form">
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" id="title" name="title" class="form-control" placeholder="제목을 입력하세요">
            </div>
            <div class="form-group">
                <label for="reason">사유</label>
                <textarea id="reason" name="reason" class="form-control" rows="5" placeholder="사유를 입력하세요"></textarea>
            </div>
            <div class="form-group">
                <label for="file">파일 첨부하기</label>
                <input type="file" id="file" name="file" class="form-control-file">
            </div>
            <input type="hidden" id="type" name="type" value="ORDER_PAYMENT">
            <input type="hidden" id="orderId" name="orderId">
            <div class="text-center">
                <button type="submit" class="btn btn-primary">등록</button>
                <button type="button" class="btn btn-secondary close-modal">취소</button>
            </div>
        </form>
    </div>
</div>


<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    FEEDBACK
                </h4>

                <p class="stext-107 cl7 size-201">
                    언제나 고객님들의 피드백을 반영하여 항상 더욱 발전하는 패션 노바가 되겠습니다.
                </p>
            </div>

            <div class="p-t-40">
                <div class="flex-c-m flex-w p-b-18">
                    <a href="#" class="m-all-1">
                        <img src="../images/icons/icon-pay-01.png" alt="ICON-PAY">
                    </a>
                </div>

                <p class="stext-107 cl6 txt-center">
                    이 홈페이지는 상업적으로 이용되지 않습니다.
                </p>
            </div>
        </div>
    </div>
</footer>


<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
</div>

<!--===============================================================================================-->
<script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/bootstrap/js/popper.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/select2/select2.min.js"></script>
<script>
    $(".js-select2").each(function () {
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });
    })
</script>
<!--===============================================================================================-->
<script src="../vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
    $('.js-pscroll').each(function () {
        $(this).css('position', 'relative');
        $(this).css('overflow', 'hidden');
        var ps = new PerfectScrollbar(this, {
            wheelSpeed: 1,
            scrollingThreshold: 1000,
            wheelPropagation: false,
        });

        $(window).on('resize', function () {
            ps.update();
        })
    });
</script>
<!--===============================================================================================-->
<script src="/js/common.js"></script>
<script src="../js/main.js"></script>
<!--===============================================================================================-->
<script>
  $(document).ready(function () {

      let auth = localStorage.getItem('accessToken');
      //로그인 안되어 있으면 로그인으로 옮기기
      if (!auth) {
          alert("로그인 후 이용해 주세요");
          window.location.href = "login.html";
      }


      /* 장바구니 아이콘 개수 */
    window.common.getShoppingCart()
    .done(function (response) {
      if (response) {
        $('a#cart-icon')[0].dataset.notify = response.cartItemDtoList.length;
      } else {
        // no response
      }
    })
    .fail(function (error) {
      console.log(error.message)
    });

    /* 찜 아이콘 개수 */
    window.common.getWishList()
    .done(function (response) {
      if (response) {
        $('a#wish-icon')[0].dataset.notify = response.length;
      } else {
        // no response
      }
    })
    .fail(function (error) {
      console.log(error.message)
    });

      let currentPage = 1;
      const itemsPerPage = 5;

      // 서버에서 주문 정보를 가져오는 AJAX 요청
      $.ajax({
          url: '/orders', // 주문 정보를 가져올 서버 URL
          type: 'GET',
          dataType: 'json',
          success: function (data) {

              data.sort((a, b) => new Date(b.createdAt) - new Date(a.createdAt)); // createdAt 기준 내림차순 정렬

              // 전체 데이터를 받아와서 페이지네이션 설정 및 테이블 업데이트
              orders = data;
              renderPagination(orders);
              updateOrderTable(orders.slice(0, itemsPerPage)); // 첫 페이지 데이터만 표시
          },
          error: function (xhr, status, error) {
              console.error('주문 정보를 가져오는 데 실패했습니다:', error);
          }
      });

// 테이블에 주문 정보를 동적으로 추가하는 함수
      function updateOrderTable(orders) {
          const orderListElement = $('#order-list');
          orderListElement.empty(); // 기존 행 삭제

          orders.forEach(function (order) {
              const orderRow = $('<tr>').addClass('table_row');

              // 주문 번호
              const orderIdCell = $('<td>').addClass('column-1').html(
                  `<a href="order-detail.html?orderId=${order.orderId}">${order.orderId}</a>`);

              // 상품 이름
              const itemNameCell = $('<td>').addClass('column-2').text('상품명');

              // 주문 날짜
              const orderDateCell = $('<td>').addClass('column-3').text(
                  new Date(order.createdAt).toISOString().split('T')[0]);

              // 가격
              const priceCell = $('<td>').addClass('column-4').text(`${order.totalPrice}원`);

              // 주문 상태
              const orderStatusCell = $('<td>').addClass('column-5').text(order.orderStatus);

              // 배송지
              const orderAddress = $('<td>').addClass('column-5.5').text(order.address);

              // 배송 상태
              const deliveryStatusCell = $('<td>').addClass('column-6').text(order.deliveryStatus);

              // Edit 버튼
              const editButtonCell = $('<td>').addClass('column-7').html(`
      <button type="button"
              class="btn btn-secondary open-modal flex-c-m stext-101 cl0 size-103 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer"
              data-order-id="${order.orderId}">
        주문 취소
      </button>
    `);

              // 테이블 행에 셀 추가
              orderRow.append(orderIdCell, itemNameCell, orderDateCell, priceCell, orderStatusCell,
              orderAddress,deliveryStatusCell, editButtonCell);

              // 테이블에 행 추가
              orderListElement.append(orderRow);

              // 주문 상세 정보를 가져와서 itemNameCell을 업데이트
              fetchOrderDetail(order.orderId, itemNameCell);
          });
      }

// 페이지네이션 버튼을 생성하는 함수
      function renderPagination(orders) {
          const pageCount = Math.ceil(orders.length / itemsPerPage);
          const paginationElement = $('#pagination');
          paginationElement.empty(); // 기존 페이지네이션 버튼 삭제

          for (let i = 1; i <= pageCount; i++) {
              const button = $('<button>').text(i);
              if (i === currentPage) {
                  button.addClass('active');
              }
              button.on('click', function () {
                  currentPage = i;
                  const start = (currentPage - 1) * itemsPerPage;
                  const end = start + itemsPerPage;
                  updateOrderTable(orders.slice(start, end)); // 클릭된 페이지의 데이터만 표시
                  renderPagination(orders); // 버튼 상태 업데이트
              });
              paginationElement.append(button);
          }
      }

      $(document).on('click', '.open-modal', function () {
          const orderId = $(this).data('order-id');
          $('#orderId').val(orderId);
          $('#reason').val(`주문번호: ${orderId}`);
          $('#cancelOrderModal').css('display', 'block');
      });

      $(document).on('click', '.close, .close-modal', function () {
          $('#cancelOrderModal').css('display', 'none');
      });

      window.onclick = function (event) {
          if (event.target == $('#cancelOrderModal')[0]) {
              $('#cancelOrderModal').css('display', 'none');
          }
      };

      // 주문 취소 폼 제출 처리
      $('#cancel-order-form').on('submit', function (e) {
          e.preventDefault();

          const form = document.getElementById('cancel-order-form');
          const formData = new FormData(form);

          // JSON 데이터 생성
          const requestDto = {
              title: formData.get('title'),
              type: formData.get('type'),
              question: formData.get('reason')
          };

          // FormData에 QuestionRequestDto requestDto, List<MultipartFile> file 추가
          const finalFormData = new FormData();
          finalFormData.append('requestDto', new Blob([JSON.stringify(requestDto)], {type: 'application/json'}));

          // 파일을 FormData에 추가
          const fileInput = document.getElementById('file');
          if (fileInput.files.length > 0) {
              for (let i = 0; i < fileInput.files.length; i++) {
                  finalFormData.append('file', fileInput.files[i]);
              }
          }

          postQuestion(finalFormData);
      });

      // AJAX 요청
      function postQuestion(finalFormData) {
          $.ajax({
              type: 'POST',
              url: '/questions',
              data: finalFormData,
              processData: false, // FormData를 있는 그대로 전송하도록 설정
              contentType: false, // multipart/form-data로 전송되도록 설정
              success: function (response, textStatus, jqXHR) {
                  if (jqXHR.status >= 200 && jqXHR.status < 300) {
                      alert("문의 등록 성공");
                      // 모달 창 닫기
                      $('#cancelOrderModal').css('display', 'none');
                  } else {
                      alert("문의 등록 실패");
                  }
              },
              error: function (error) {
                  alert(error.message);
              },
          });
      }
  });
</script>
<!--===============================================================================================-->
<script>
    // JavaScript to handle modal
    // $(document).ready(function () {
    //
    //     // 기존 AJAX 요청 및 테이블 업데이트 코드
    //
    //     $(document).on('click', '.open-modal', function () {
    //         $('#cancelOrderModal').css('display', 'block');
    //     });
    //
    //     $(document).on('click', '.close, .close-modal', function () {
    //         $('#cancelOrderModal').css('display', 'none');
    //     });
    //
    //     window.onclick = function (event) {
    //         if (event.target == $('#cancelOrderModal')[0]) {
    //             $('#cancelOrderModal').css('display', 'none');
    //         }
    //     };
    // });
</script>
<!--===============================================================================================-->
<script>
  function fetchOrderDetail(orderId, itemNameCell) {
    $.ajax({
      url: `/orderDetails/${orderId}`,
      type: 'GET',
      dataType: 'json',
      success: function(response) {
        const productName = response.length > 1
            ? `<b>${response[0].productName}</b> 외 ${response.length - 1} 개`
            : `<b>${response[0].productName}</b>`;
        itemNameCell.html(productName);
      },
      error: function (xhr, status, error) {
        console.error('주문 상세 정보를 가져오는 데 실패했습니다:', error);
      }
    });
  }

</script>
<!--===============================================================================================-->
</body>
</html>