<!DOCTYPE html>
<html lang="en">
<head>
    <title>Order Detail</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../images/icons/favicon.png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="../fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="../fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="../vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../css/util.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/review.css">
    <link rel="stylesheet" type="text/css" href="../css/order.css">
    <link rel="stylesheet" type="text/css" href="../css/order-detail.css">
    <!--===============================================================================================-->
</head>
<body class="animsition">

<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <!-- Topbar -->
        <div class="top-bar">
            <div class="content-topbar flex-sb-m h-full container">
                <div class="left-top-bar">
                    패셔니스타들을 위한, 패셔니스타들에 의한 패션노바
                </div>

                <div class="right-top-bar flex-w h-full">
                    <a href="login.html" id="auth-btn" class="flex-c-m trans-04 p-lr-25">
                        Login
                    </a>

                    <a href="question.html" class="flex-c-m trans-04 p-lr-25">
                        Q&A
                    </a>

                    <a href="my-page.html" class="flex-c-m trans-04 p-lr-25">
                        My Page
                    </a>
                </div>
            </div>
        </div>

        <div class="wrap-menu-desktop">
            <nav class="limiter-menu-desktop container">

                <!-- Logo desktop -->
                <a href="index.html" class="logo">
                    <img src="../images/icons/logo-01.png" alt="IMG-LOGO">
                </a>

                <!-- Menu desktop -->
                <div class="menu-desktop">
                    <ul class="main-menu">
                        <li>
                            <a href="about.html">About</a>
                        </li>

                        <li class="label1" data-label1="hot">
                            <a href="product.html">Shop</a>
                        </li>

                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>

                <!-- Icon header -->
                <div class="wrap-icon-header flex-w flex-r-m">
                    <a id="cart-icon" href="shoping-cart.html"
                       class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart"
                       data-notify="">
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </a>

                    <a id="wish-icon" href="wish-list.html"
                       class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
                       data-notify="">
                        <i class="zmdi zmdi-favorite-outline"></i>
                    </a>
                </div>
            </nav>
        </div>
    </div>
</header>

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92"
         style="background-image: url('/images/bg-01.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        Order Detail
    </h2>
</section>

<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <a href="my-page.html"
           class="stext-109 cl8 hov-cl1 trans-04">
            My Page
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <a href="order.html" class="stext-109 cl8 hov-cl1 trans-04">
            Order
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
				Order Detail
			</span>
    </div>
</div>

<!-- Order Detail Page -->
<form class="bg0 p-t-75 p-b-85">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <div class="m-l-10 m-r--100 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">
                        <table class="table-shopping-cart">
                            <tr class="table_head">
                                <th class="column-1">Product</th>
                                <th class="column-2">Product Name</th>
                                <th class="column-3">Count</th>
                                <th class="column-4">Price</th>
                                <th class="column-5">Size</th>
                                <th class="column-6">Color</th>
                                <th class="column-7">Order Status</th> <!-- 주문 상태 추가 -->
                                <th class="column-8">Edit</th>
                            </tr>

                            <!-- Order details will be dynamically inserted here -->
                            <tbody id="order-detail-list">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- 결제 금액 계산 -->

<div class="wrap-table-shopping-cart m-t-30">
    <table class="table-shopping-cart-price">
        <tr class="table_head">
            <th class="column-1">Description</th>
            <th class="column-2">Amount</th>
        </tr>

        <tr class="table_row">
            <td class="column-1">총 금액</td>
            <td class="column-2">300,000원</td>
        </tr>
        <tr class="table_row">
            <td class="column-1">쿠폰 할인 금액</td>
            <td class="column-2">-10,000원</td>
        </tr>
        <tr class="table_row">
            <td class="column-1">사용 마일리지</td>
            <td class="column-2">-5,000원</td>
        </tr>
        <tr class="table_row">
            <td class="column-1">배송비</td>
            <td class="column-2">+2,500원</td>
        </tr>
        <tr class="table_row">
            <td class="column-1"><strong>결제 금액</strong></td>
            <td class="column-2"><strong>287,500원</strong></td>
        </tr>
    </table>
</div>
<!-- Modal -->

<div id="cancelOrderModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h4 class="mtext-105 cl2 txt-center p-b-30">환불/교환 신청</h4>
        <form id="cancel-order-form">
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" id="title" name="title" class="form-control"
                       placeholder="제목을 입력하세요">
            </div>
            <div class="form-group">
                <label for="reason">사유</label>
                <textarea id="reason" name="reason" class="form-control" rows="5"
                          placeholder="사유를 입력하세요"></textarea>
            </div>
            <div class="form-group">
                <label for="file">파일 첨부하기</label>
                <input type="file" id="file" name="file" class="form-control-file">
            </div>
            <input type="hidden" id="type" name="type" value="EXCHANGE_RETURN"> <!-- 고정된 문의 타입 -->
            <input type="hidden" id="orderDetailId" name="orderDetailId"> <!-- 주문 상세 ID -->
            <div class="text-center">
                <button type="submit" class="btn btn-primary">등록</button>
                <button type="button" class="btn btn-secondary close-modal">취소</button>
            </div>
        </form>
    </div>
</div>
</div>
</div>
</div>
</div>
</form>

<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    FEEDBACK
                </h4>

                <p class="stext-107 cl7 size-201">
                    언제나 고객님들의 피드백을 반영하여 항상 더욱 발전하는 패션 노바가 되겠습니다.
                </p>
            </div>

            <div class="p-t-40">
                <div class="flex-c-m flex-w p-b-18">
                    <a href="#" class="m-all-1">
                        <img src="../images/icons/icon-pay-01.png" alt="ICON-PAY">
                    </a>
                </div>

                <p class="stext-107 cl6 txt-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    이 홈페이지는 상업적으로 이용되지 않습니다.
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
  <span class="symbol-btn-back-to-top">
    <i class="zmdi zmdi-chevron-up"></i>
  </span>
</div>

<!--===============================================================================================-->
<script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/bootstrap/js/popper.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/select2/select2.min.js"></script>
<script>
    $(".js-select2").each(function () {
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });
    })
</script>
<!--===============================================================================================-->
<script src="../vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
    $('.js-pscroll').each(function () {
        $(this).css('position', 'relative');
        $(this).css('overflow', 'hidden');
        var ps = new PerfectScrollbar(this, {
            wheelSpeed: 1,
            scrollingThreshold: 1000,
            wheelPropagation: false,
        });

        $(window).on('resize', function () {
            ps.update();
        })
    });
</script>
<!--===============================================================================================-->
<script src="/js/common.js"></script>
<script src="../js/main.js"></script>
<!--===============================================================================================-->
<script>
    $(document).ready(function () {

        /* 장바구니 아이콘 개수 */
        window.common.getShoppingCart()
        .done(function (response) {
            if (response) {
                $('a#cart-icon')[0].dataset.notify = response.cartItemDtoList.length;
            } else {
                // no response
            }
        })
        .fail(function (error) {
            console.log(error.message)
        });

        /* 찜 아이콘 개수 */
        window.common.getWishList()
        .done(function (response) {
            if (response) {
                $('a#wish-icon')[0].dataset.notify = response.length;
            } else {
                // no response
            }
        });

        // URL에서 주문 ID 추출
        function getOrderIdFromURL() {
            var urlParams = new URLSearchParams(window.location.search);
            return urlParams.get('orderId'); // URL에 ?orderId=165473이 포함되어 있다고 가정
        }

        var orderId = getOrderIdFromURL();

        // 주문 상세 정보 요청
        $.ajax({
            url: `/orderDetails/${orderId}`,
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                var orderDetails = response;
                var $orderDetailList = $('#order-detail-list');
                $orderDetailList.empty(); // 기존 데이터 삭제

                // 주문 상세 정보로 테이블 채우기
                orderDetails.forEach(function (detail) {
                    var rowHtml = `
        <tr class="table_row">
          <td class="column-1">
            <img src="${detail.productImageUrl}" style="height: 60px; cursor: pointer;" alt="IMG"> <!-- 필요에 따라 업데이트 -->
          </td>
          <td class="column-2">${detail.productName}</td>
          <td class="column-3">${detail.count}</td>
          <td class="column-4">${detail.price.toLocaleString()} 원</td>
          <td class="column-5">${detail.size}</td> <!-- 사이즈 추가 -->
          <td class="column-6">${detail.color}</td> <!-- 컬러 추가 -->
          <td class="column-7">${detail.orderStatus}</td> <!-- 주문 상태 추가 -->
          <td class="column-8">
            <button type="button"
                    class="btn btn-secondary open-modal flex-c-m stext-101 cl0 size-103 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer"
                    data-order-detail-id="${detail.id}">
              환불/교환
            </button>
          </td>
        </tr>
      `;
                    $orderDetailList.append(rowHtml); // 테이블에 행 추가
                });
            },
            error: function (xhr, status, error) {
                console.error('주문 상세 정보를 가져오는 데 실패했습니다:', error);
            }
        });
        // 이벤트 위임을 사용하여 동적으로 추가된 버튼에 이벤트 리스너 연결
        $(document).on('click', '.open-modal', function () {
            const orderDetailId = $(this).data('order-detail-id');

            // 주문 상세 ID를 hidden input에 설정
            $('#orderDetailId').val(orderDetailId);

            $('#cancelOrderModal').css('display', 'block');
        });

        $(document).on('click', '.close, .close-modal', function () {
            $('#cancelOrderModal').css('display', 'none');
        });

        $('#cancel-order-form').on('submit', function (e) {
            e.preventDefault();

            const form = document.getElementById('cancel-order-form');
            const formData = new FormData(form);

            // JSON 데이터 생성
            const requestDto = {
                title: formData.get('title'),
                type: formData.get('type'),
                question: formData.get('reason'),
                orderDetailId: formData.get('orderDetailId') // 주문 상세 ID 추가
            };

            // FormData에 QuestionRequestDto requestDto, List<MultipartFile> file 추가
            const finalFormData = new FormData();
            finalFormData.append('requestDto',
                new Blob([JSON.stringify(requestDto)], {type: 'application/json'}));

            // 파일을 FormData에 추가
            const fileInput = document.getElementById('file');
            if (fileInput.files.length > 0) {
                for (let i = 0; i < fileInput.files.length; i++) {
                    finalFormData.append('file', fileInput.files[i]);
                }
            }

            postQuestion(finalFormData);
        });

        // AJAX 요청
        function postQuestion(finalFormData) {
            $.ajax({
                type: 'POST',
                url: '/questions',
                data: finalFormData,
                processData: false, // FormData를 있는 그대로 전송하도록 설정
                contentType: false, // multipart/form-data로 전송되도록 설정
                success: function (response, textStatus, jqXHR) {
                    if (jqXHR.status >= 200 && jqXHR.status < 300) {
                        alert("문의 등록 성공");
                        location.reload()
                    } else {
                        alert("문의 등록 실패");
                    }
                },
                error: function (error) {
                    alert(error.message);
                },
            });
        }

        // 서버에서 주문 정보 가져오기
        $.ajax({
            url: `/orders/${orderId}`, // 주문 ID를 포함하여 요청
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // 응답 데이터에서 주문 정보 추출
                const { totalPrice, discount, usedMileage, cost } = data;

                // HTML 테이블에 동적으로 값 넣기
                document.querySelector('.table-shopping-cart-price').innerHTML = `
                <tr class="table_row">
                    <td class="column-1">총 금액</td>
                    <td class="column-2">${formatCurrency(cost)}</td>
                </tr>
                <tr class="table_row">
                    <td class="column-1">쿠폰 할인 금액</td>
                    <td class="column-2">-${formatCurrency(discount)}</td>
                </tr>
                <tr class="table_row">
                    <td class="column-1">사용 마일리지</td>
                    <td class="column-2">-${formatCurrency(usedMileage)}</td>
                </tr>
                <tr class="table_row">
                    <td class="column-1">배송비</td>
                    <td class="column-2">+${formatCurrency(2500)}</td>
                </tr>
                <tr class="table_row">
                    <td class="column-1"><strong>결제 금액</strong></td>
                    <td class="column-2"><strong>${formatCurrency(totalPrice)}</strong></td>
                </tr>
            `;
            },
            error: function (xhr, status, error) {
                console.error('주문 정보를 가져오는 데 실패했습니다:', error);
            }
        });

        // 숫자를 통화 형식으로 변환하는 함수
        function formatCurrency(value) {
            return value.toLocaleString('ko-KR', { style: 'currency', currency: 'KRW' });
        }
    });
</script>
<!--===============================================================================================-->

</body>
</html>
