<!DOCTYPE html>
<html lang="en">
<head>
  <title>Product</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="../images/icons/favicon.png"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css"
        href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css"
        href="../fonts/iconic/css/material-design-iconic-font.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../fonts/linearicons-v1.0.0/icon-font.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../vendor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../vendor/daterangepicker/daterangepicker.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../vendor/slick/slick.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../vendor/MagnificPopup/magnific-popup.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../vendor/perfect-scrollbar/perfect-scrollbar.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../css/util.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <!--===============================================================================================-->
</head>
<body class="animsition">

<!-- Header -->
<header class="header-v4">
  <!-- Header desktop -->
  <div class="container-menu-desktop">
    <!-- Topbar -->
    <div class="top-bar">
      <div class="content-topbar flex-sb-m h-full container">
        <div class="left-top-bar">
          패셔니스타들을 위한, 패셔니스타들에 의한 패션노바
        </div>

        <div class="right-top-bar flex-w h-full">
          <a href="login.html" id="auth-btn" class="flex-c-m trans-04 p-lr-25">
            Login
          </a>

          <a href="question.html" class="flex-c-m trans-04 p-lr-25">
            Q&A
          </a>

          <a href="my-page.html" class="flex-c-m trans-04 p-lr-25">
            My Page
          </a>

        </div>
      </div>
    </div>

    <div class="wrap-menu-desktop how-shadow1">
      <nav class="limiter-menu-desktop container">

        <!-- Logo desktop -->
        <a href="index.html" class="logo">
          <img src="../images/icons/logo-01.png" alt="IMG-LOGO">
        </a>

        <!-- Menu desktop -->
        <div class="menu-desktop">
          <ul class="main-menu">
            <li>
              <a href="about.html">About</a>
            </li>

            <li class="label1" data-label1="hot">
              <a href="product.html">Shop</a>
            </li>

            <li>
              <a href="contact.html">Contact</a>
            </li>
          </ul>
        </div>

        <!-- Icon header -->
        <div class="wrap-icon-header flex-w flex-r-m">
          <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
            <i class="zmdi zmdi-search"></i>
          </div>

          <a id="cart-icon" href="../shoping-cart.html"
             class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart"
             data-notify="">
            <i class="zmdi zmdi-shopping-cart"></i>
          </a>

          <a id="wish-icon" href="wish-list.html"
             class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
             data-notify="">
            <i class="zmdi zmdi-favorite-outline"></i>
          </a>
        </div>
      </nav>
    </div>
  </div>

  <!-- Modal Search -->
  <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
    <div class="container-search-header">
      <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
        <img src="../images/icons/icon-close2.png" alt="CLOSE">
      </button>

      <form class="wrap-search-header flex-w p-l-15">
        <button class="flex-c-m trans-04">
          <i class="zmdi zmdi-search"></i>
        </button>
        <input class="plh3" type="text" name="search" placeholder="Search...">
      </form>
    </div>
  </div>
</header>

	<!-- Product -->
	<div class="bg0 m-t-23 p-b-140">
		<div class="container">
			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<button id="ALL" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1 category-btn" data-filter="">
						All Products
					</button>

        <button id="TOP" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 category-btn"
                data-filter="TOP">
          Top
        </button>

        <button id="BOTTOM" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 category-btn"
                data-filter="BOTTOM">
          Bottom
        </button>

        <button id="SHOES" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 category-btn"
                data-filter="SHOES">
          Shoes
        </button>

        <button id="GOODS" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 category-btn"
                data-filter="GOODS">
          Accessories
        </button>

      </div>

      <div id="isotope-grid" class="flex-w flex-c-m m-tb-10">
        <div
            class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
          <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
          <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
          Filter
        </div>

        <div
            class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
          <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
          <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
          Search
        </div>
      </div>

      <!-- Search product -->
      <div class="dis-none panel-search w-full p-t-10 p-b-15">
        <div class="bor8 dis-flex p-l-15">
          <button id="searchBtn" class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
            <i class="zmdi zmdi-search"></i>
          </button>
          <input id="search-input" class="mtext-107 cl2 size-114 plh2 p-r-15" type="text"
                 name="search-product" placeholder="상품명을 입력해주세요">
        </div>
      </div>

      <!-- Filter -->
      <div class="dis-none panel-filter w-full p-t-10">
        <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
          <div class="filter-col1 p-r-15 p-b-27">
            <div class="mtext-102 cl2 p-b-15">
              Sort By
            </div>

            <ul>
              <li class="p-b-6">
                <a href="#" class="filter-link stext-106 trans-04" data-sort="wish_count">
                  Lots of wish
                </a>
              </li>

              <li class="p-b-6">
                <a href="#" class="filter-link stext-106 trans-04" data-sort="review_count">
                  Lots of reviews
                </a>
              </li>

              <li class="p-b-6">
                <a href="#" class="filter-link stext-106 trans-04 filter-link-active" data-sort="new_item">
                  Newness
                </a>
              </li>

              <li class="p-b-6">
                <a href="#" class="filter-link stext-106 trans-04"
                   data-sort="row_price">
                  Price: Low to High
                </a>
              </li>

              <li class="p-b-6">
                <a href="#" class="filter-link stext-106 trans-04" data-sort="high_price">
                  Price: High to Low
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="productListArea" class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item shoes">
        <!-- Block2 -->
        <div class="block2">
          <div class="block2-pic hov-img0">
            <img src="../images/product-09.jpg" alt="IMG-PRODUCT">
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l ">
              <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                Converse All Star Hi Plimsolls
              </a>

              <span class="stext-105 cl3">
									50,000원
								</span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3">
              <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                <img class="icon-heart1 dis-block trans-04" src="../images/icons/icon-heart-01.png"
                     alt="ICON">
                <img class="icon-heart2 dis-block trans-04 ab-t-l"
                     src="../images/icons/icon-heart-02.png" alt="ICON">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Load more -->
    <div id="loadMoreBtn" class="flex-c-m flex-w w-full p-t-45">
      <a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
        Load More
      </a>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-lg-3 p-b-50">
        <h4 class="stext-301 cl0 p-b-30">
          FEEDBACK
        </h4>

        <p class="stext-107 cl7 size-201">
          언제나 고객님들의 피드백을 반영하여 항상 더욱 발전하는 패션 노바가 되겠습니다. - 피드백링크~~
        </p>

        <div class="p-t-27">
          <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
            <i class="fa fa-facebook"></i>
          </a>

          <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
            <i class="fa fa-instagram"></i>
          </a>

          <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
            <i class="fa fa-pinterest-p"></i>
          </a>
        </div>
      </div>

      <div class="p-t-40">
        <div class="flex-c-m flex-w p-b-18">
          <a href="#" class="m-all-1">
            <img src="../images/icons/icon-pay-01.png" alt="ICON-PAY">
          </a>
        </div>

        <p class="stext-107 cl6 txt-center">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          이 홈페이지는 상업적으로 이용되지 않습니다.
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

        </p>
      </div>
    </div>
  </div>
</footer>


<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
</div>


<!--===============================================================================================-->
<script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/bootstrap/js/popper.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/select2/select2.min.js"></script>
<script>
  $(".js-select2").each(function () {
    $(this).select2({
      minimumResultsForSearch: 20,
      dropdownParent: $(this).next('.dropDownSelect2')
    });
  })
</script>
<!--===============================================================================================-->
<script src="../vendor/daterangepicker/moment.min.js"></script>
<script src="../vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="../vendor/slick/slick.min.js"></script>
<script src="../js/slick-custom.js"></script>
<!--===============================================================================================-->
<script src="../vendor/parallax100/parallax100.js"></script>
<script>
  $('.parallax100').parallax100();
</script>
<!--===============================================================================================-->
<script src="../vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<script>
  $('.gallery-lb').each(function () { // the containers for all your galleries
    $(this).magnificPopup({
      delegate: 'a', // the selector for gallery item
      type: 'image',
      gallery: {
        enabled: true
      },
      mainClass: 'mfp-fade'
    });
  });
</script>
<!--===============================================================================================-->
<script src="../vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/sweetalert/sweetalert.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
  $('.js-pscroll').each(function () {
    $(this).css('position', 'relative');
    $(this).css('overflow', 'hidden');
    var ps = new PerfectScrollbar(this, {
      wheelSpeed: 1,
      scrollingThreshold: 1000,
      wheelPropagation: false,
    });

    $(window).on('resize', function () {
      ps.update();
    })
  });


</script>
<!--===============================================================================================-->
<script src="/js/common.js"></script>
<script src="../js/main.js"></script>

<script>
  const auth = localStorage.getItem('accessToken');

  $('.js-pscroll').each(function () {
    $(this).css('position', 'relative');
    $(this).css('overflow', 'hidden');
    var ps = new PerfectScrollbar(this, {
      wheelSpeed: 1,
      scrollingThreshold: 1000,
      wheelPropagation: false,
    });

    $(window).on('resize', function () {
      ps.update();
    })
  });

  $('#searchBtn').on('click', function(event) {
    performSearch();

    /*if (event.key === 'Enter') { // 엔터키가 눌렸을 때
        event.preventDefault(); // 기본 폼 제출 방지
        performSearch();
    }*/
  });

  $('#search-input').keypress(function (event){
    if(event.which == 13){
      $('#searchBtn').click();
      $('.category-btn').removeClass('how-active1');
      console.log('test');
    }
  })

  function performSearch() {
    const searchInput = $('#search-input').val().trim(); // 입력값 가져오기
    console.log(searchInput);
    // 입력값이 비어 있는지 확인
    if (searchInput === '') {
      alert('상품명을 입력해주세요.');
      return;
    }

    // GET 요청으로 서버에 검색어 전달
    $.ajax({
      url: '/products/product', // 요청을 보낼 URL
      method: 'GET',
      data: {
        search: searchInput,
        sort: "all",
        page: 1 // 요청에 포함할 page 파라미터
      }, // 쿼리 파라미터로 전송
      success: function(data) {
        console.log('검색 결과:', data);
        // 검색 결과를 처리하는 로직 추가
        searchResult(data.content);
      },
      error: function(xhr, status, error) {
        console.error('검색 중 오류 발생:', error);
        alert('검색 중 오류가 발생했습니다. 다시 시도해주세요.');
      }
    });
  }
  // 검색 결과 표시 함수
  function searchResult(productList) {
    let $productListContainer = $('#productListArea');
    $productListContainer.empty(); // 기존 내용을 지우고 새로 추가

    productList.forEach(function(item) {
      let productCard = `
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item ${item.productStatus.toLowerCase()}" data-product-id="${item.id}">
                    <div class="block2">
                        <div class="block2-pic hov-img0">
                            <img src="${item.imageUrl}" alt="${item.product}">
                        </div>
                        <div class="block2-txt flex-w flex-t p-t-14">
                            <div class="block2-txt-child1 flex-col-l">
                                <a href="product-detail.html?id=${item.id}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                    ${item.product}
                                </a>
                                <span class="stext-105 cl3">
                                    ${item.price.toLocaleString()}원
                                </span>
                            </div>
                            <div class="block2-txt-child2 flex-r p-t-3">
                                <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                    <img class="icon-heart1 dis-block trans-04" src="../images/icons/icon-heart-01.png" alt="ICON">
                                    <img class="icon-heart2 dis-block trans-04 ab-t-l" src="../images/icons/icon-heart-02.png" alt="ICON">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                `;
      $productListContainer.append(productCard);
      loadWishlist();
    });
  }

  function wishClickEvent(e) {
    e.preventDefault(); // 링크의 기본 동작을 막습니다.

    console.log(auth);// 로그인 여부 확인
    if (!auth) {
      // 로그인 상태가 아닌 경우
      alert("로그인 후 이용해주세요");
      window.location.href = 'login.html'; // 로그인 페이지로 이동
      return; // 아래 코드를 실행하지 않고 종료
    }

    let $this = $(this);
    let productId = $this.closest('.isotope-item').data('product-id'); // data-product-id에서 제품 ID 가져오기

    // WishRequestDto 객체 생성
    var wishRequestDto = {
      productId: productId
    };
    if ($this.hasClass('js-addedwish-b2')) {
      // 이미 위시리스트에 추가된 상태 (하트가 채워진 상태)
      // 위시리스트에서 제거하는 요청을 보냅니다.
      var wishId = $this.data('wish-id'); // loadWishlist에서 저장된 wishId를 가져옵니다.
      $.ajax({
        url: '/wishlists', // 실제 API URL로 변경해야 합니다.
        type: 'DELETE',
        contentType: 'application/json',
        data: JSON.stringify({wishId: wishId}),
        success: function (response, textStatus, jqXHR) {
          if (jqXHR.status >= 200 && jqXHR.status < 300) {
            // 성공 시 처리
            // $this.removeClass('js-addedwish-b2');
            // $this.find('.icon-heart1').show(); // 빈 하트 표시
            // $this.find('.icon-heart2').hide(); // 채워진 하트 숨기기
            loadWishlist();
            swal("Success!", "The product has been removed from your wishlist.", "success");
          } else {
            // 실패 시 처리
            swal("Failed!", "The product could not be removed from your wishlist.", "error");
          }
        },
        error: function (xhr, status, error) {
          // 에러 시 처리
          swal("Error!", "An error occurred while removing the product from your wishlist.", "error");
        }
      });
    } else {
      // 위시리스트 등록 로직
      // AJAX 요청
      $.ajax({
        url: '/wishlists', // 실제 API URL로 변경해야 합니다.
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(wishRequestDto),
        success: function (response, textStatus, jqXHR) {
          if (jqXHR.status >= 200 && jqXHR.status < 300) {
            // 성공 시 처리
            // $this.addClass('js-addedwish-b2');
            // $this.find('.icon-heart1').hide(); // 빈 하트 표시
            // $this.find('.icon-heart2').show(); // 채워진 하트 숨기기
            loadWishlist();
            swal("Success!", "The product has been added to your wishlist.", "success");
          } else {
            // 실패 시 처리
            swal("Failed!", "The product could not be added to your wishlist.", "error");
          }
        },
        error: function (xhr, status, error) {
          // 에러 시 처리
          swal("Error!", "An error occurred while adding the product to your wishlist.", "error");
        }
      });
    }
  }
  $(document).ready(function () {
    $(document).on('click', '.js-addwish-b2', wishClickEvent);

    const urlParams = new URLSearchParams(window.location.search);
    let selectedCategory = urlParams.get('category') || "";
    let currentPage = 1;
    let selectedSort = "all"; // 기본 정렬 값

    if (auth) {

      loadWishlist();
      // 로그인 상태일 때
      $('#auth-btn').attr("href", "#").text("Logout");

      $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
        jqXHR.setRequestHeader('Authorization', auth);
      });

      $.ajax({
        type: 'GET',
        url: '/carts',
        success: function (response) {
          if (response.length === 10) {
            $('a#cart-icon')[0].dataset.notify = "10+";
          } else {
            $('a#cart-icon')[0].dataset.notify = response.cartItemDtoList.length;
          }
        },
        error: function (error) {
          console.log("에러: " + error.message)
        }
      });

      $.ajax({
        type: 'GET',
        url: '/wishlists',
        success: function (response) {
          if (response.length === 10) {
            $('a#wish-icon')[0].dataset.notify = "10+";
          } else {
            $('a#wish-icon')[0].dataset.notify = response.length;
          }
        },
        error: function (error) {
          console.log("에러: " + error.message)
        }
      });

      // 로그아웃 버튼 클릭 시 로컬스토리지에서 토큰 삭제 후 리로드
      $('#auth-btn').on('click', function (e) {
        e.preventDefault();
        localStorage.removeItem('accessToken'); // 토큰 삭제
        window.location.reload(); // 페이지 리로드
      });

    } else {
      // 로그인이 안되어 있을 때
      $('#auth-btn').attr("href", "login.html").text("Login");
    }

    if (selectedCategory) {
      // 해당 카테고리 버튼을 활성화합니다.
      $('.category-btn').removeClass('how-active1');
      $(`.category-btn[data-filter="${selectedCategory}"]`).addClass('how-active1');

      history.replaceState({}, null, location.pathname);
    }

    fetchAndDisplayProducts(currentPage, selectedCategory, selectedSort)

    $('.category-btn').on('click', function (e) {
      e.preventDefault();
      selectedCategory = $(this).data('filter');
      currentPage = 1; // 첫 페이지로 초기화
      fetchAndDisplayProducts(currentPage, selectedCategory, selectedSort);

      $('.category-btn').removeClass('how-active1');
      $(this).addClass('how-active1');
    });

    $('#loadMoreBtn').on('click', function (e) {
      e.preventDefault();
      currentPage++; // 페이지 번호 증가
      fetchAndDisplayProducts(currentPage, selectedCategory, selectedSort);
      loadWishlist();
    });
  });

  function fetchAndDisplayProducts(page, category, sort) {
    $.ajax({
      url: '/products/product', // 요청을 보낼 URL
      method: 'GET', // 요청 방식
      data: {
        sort: sort,
        page: page,
        category: category// 요청에 포함할 page 파라미터
      },
      success: function (response) {
        console.log("상품 조회 성공: " + response.content);
        updateProductList(response.content, page);
      },
      error: function (xhr, status, error) {
        console.error('상품 정보를 불러오는 중 오류 발생:', error);
      }
    });
  }

  // 상품 업데이트 함수
  function updateProductList(productList, page) {
    let $productListContainer = $('#productListArea');
    if (page === 1) {
      $productListContainer.empty(); // 첫 페이지인 경우 기존 내용을 지웁니다.
    }

    productList.forEach(function (item) {
      console.log(item)
      let productCard = `
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item ${item.productStatus.toLowerCase()}" data-product-id="${item.id}">
                    <div class="block2">
                        <div class="block2-pic hov-img0">
                            <img src="${item.imageUrl}" alt="${item.product}">
                        </div>
                        <div class="block2-txt flex-w flex-t p-t-14">
                            <div class="block2-txt-child1 flex-col-l">
                                <a href="product-detail.html?id=${item.id}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                    ${item.product}
                                </a>
                                <span class="stext-105 cl3">
                                    ${item.price.toLocaleString()}원
                                </span>
                            </div>
                            <div class="block2-txt-child2 flex-r p-t-3">
                                <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                    <img class="icon-heart1 dis-block trans-04" src="../images/icons/icon-heart-01.png" alt="ICON">
                                    <img class="icon-heart2 dis-block trans-04 ab-t-l" src="../images/icons/icon-heart-02.png" alt="ICON">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                `;
      $productListContainer.append(productCard);
      loadWishlist();
    });
  }

</script>
<script>
  function loadWishlist() {
    // 찜 목록 상태 업데이트하기
    $.ajax({
      url: '/wishlists', // 실제 API URL로 변경해야 합니다.
      type: 'GET',
      success: function (response) {
        // 위시리스트에 담긴 제품 ID 목록
        var wishListProductIds = response.map(wishlist => wishlist.product.id);

        // 2. 제품 카드에 하트 상태 업데이트
        $('.js-addwish-b2').each(function () {
          var $this = $(this);
          var productId = $this.closest('.isotope-item').data('product-id');

          if (wishListProductIds.includes(productId)) {
            $this.addClass('js-addedwish-b2'); // 하트를 채운 상태로 설정
            $this.find('.icon-heart2').show(); // 채워진 하트 표시
            var wishId = response.find(wishlist => wishlist.product.id === productId).id;
            $this.data('wish-id', wishId); // wishId 저장
          } else {
            $this.removeClass('js-addedwish-b2'); // 하트를 채우지 않은 상태로 설정
            $this.find('.icon-heart2').hide(); // 채워진 하트 숨기기
          }
        });
      },
      error: function (xhr, status, error) {
        console.error("위시리스트를 가져오는 중에 오류가 발생했습니다 :", error);
      }
    });
  }
</script>
</body>
</html>