<!DOCTYPE html>
<html lang="en">
<head>
	<title>Q&A</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../css/util.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/my-info.css">
	<link rel="stylesheet" type="text/css" href="../css/my-question-detail.css">
<!--===============================================================================================-->
</head>
<body class="animsition">

<!-- Header -->
<header>
  <!-- Header desktop -->
  <div class="container-menu-desktop">
    <!-- Topbar -->
    <div class="top-bar">
      <div class="content-topbar flex-sb-m h-full container">
        <div class="left-top-bar">
          패셔니스타들을 위한, 패셔니스타들에 의한 패션노바
        </div>

        <div class="right-top-bar flex-w h-full">
          <a href="login.html" id="auth-btn" class="flex-c-m trans-04 p-lr-25">
            Login
          </a>

          <a href="question.html" class="flex-c-m trans-04 p-lr-25">
            Q&A
          </a>

          <a href="my-page.html" class="flex-c-m trans-04 p-lr-25">
            My Page
          </a>
        </div>
      </div>
    </div>

    <div class="wrap-menu-desktop">
      <nav class="limiter-menu-desktop container">

        <!-- Logo desktop -->
        <a href="index.html" class="logo">
          <img src="images/icons/logo-01.png" alt="IMG-LOGO">
        </a>

        <!-- Menu desktop -->
        <div class="menu-desktop">
          <ul class="main-menu">
            <li>
              <a href="about.html">About</a>
            </li>

            <li class="label1" data-label1="hot">
              <a href="product.html">Shop</a>
            </li>

            <li>
              <a href="contact.html">Contact</a>
            </li>
          </ul>
        </div>

        <!-- Icon header -->
        <div class="wrap-icon-header flex-w flex-r-m">
          <a id="cart-icon" href="shoping-cart.html"
             class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart"
             data-notify="">
            <i class="zmdi zmdi-shopping-cart"></i>
          </a>

          <a id="wish-icon" href="wish-list.html"
             class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
             data-notify="">
            <i class="zmdi zmdi-favorite-outline"></i>
          </a>
        </div>
      </nav>
    </div>
  </div>
</header>

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92"
         style="background-image: url(/images/bg-01.jpg);">
  <h2 class="ltext-105 cl0 txt-center">
    Q&A
  </h2>
</section>

<!-- Q&A page -->
<section class="sec-product-detail bg0 p-t-65 p-b-60">
  <div class="container">
    <div class="row">

      <div class="bor10 m-t-50 p-t-43 p-b-40">
        <form id="inquiry-form">
          <div class="form-group">
            <label for="title">문의 제목</label>
            <input type="text" id="title" name="title" required>
          </div>
          <div class="form-group">
            <label for="inquiry-type">문의유형</label>
            <select id="inquiry-type" name="type">
              <option value="">문의유형 (드롭다운)</option>
              <option value="PRODUCT">상품 문의</option>
              <option value="RESTOCK">재입고 문의</option>
              <option value="DELIVERY">배송 문의</option>
              <option value="ORDER_PAYMENT">주문/결제 문의</option>
              <option value="SYSTEM">시스템 문의</option>
              <option value="EXCHANGE_RETURN">교환/환불 문의</option>
            </select>
          </div>
          <div class="bor8 m-b-30 form-group">
            <label for="inquiry-content">문의내용</label>
            <textarea class="stext-111 cl2 plh3 size-120 p-lr-28 p-tb-25" id="inquiry-content" name="question" rows="10" placeholder="문의하실 내용을 적어주세요" required></textarea>
          </div>

          <div class="form-group file-upload">
            <label for="file-upload" class="file-upload-label">파일첨부</label>
            <input type="file" id="file-upload" name="image" multiple accept="image/gif, image/jpeg, image/jpg, image/png">
            <p class="file-upload-text">파일 첨부는 최대 4장까지 가능하며, 5MB 이하의 GIF, JPG, JPEG, PNG 형태로
              업로드 해주세요.</p>
          </div>
          <div class="buttons">
            <button type="button"
                    class="flex-c-m stext-101 cl2 size-103 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10"
                    onclick="window.location.href='/'">
              취소하기
            </button>
            <button type="button" id="submit-button"
                    class="flex-c-m stext-101 cl0 size-103 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
              등록하기
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-lg-3 p-b-50">
        <h4 class="stext-301 cl0 p-b-30">
          FEEDBACK
        </h4>

        <p class="stext-107 cl7 size-201">
          언제나 고객님들의 피드백을 반영하여 항상 더욱 발전하는 패션 노바가 되겠습니다.
        </p>
      </div>

      <div class="p-t-40">
        <div class="flex-c-m flex-w p-b-18">
          <a href="#" class="m-all-1">
            <img src="../images/icons/icon-pay-01.png" alt="ICON-PAY">
          </a>
        </div>

        <p class="stext-107 cl6 txt-center">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          이 홈페이지는 상업적으로 이용되지 않습니다.
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

        </p>
      </div>
    </div>
  </div>
</footer>


<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
</div>

<!-- Modal1 -->
<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
  <div class="overlay-modal1 js-hide-modal1"></div>

  <div class="container">
    <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
      <button class="how-pos3 hov3 trans-04 js-hide-modal1">
        <img src="../images/icons/icon-close.png" alt="CLOSE">
      </button>

      <div class="row">
        <div class="col-md-6 col-lg-7 p-b-30">
          <div class="p-l-25 p-r-30 p-lr-0-lg">
            <div class="wrap-slick3 flex-sb flex-w">
              <div class="wrap-slick3-dots"></div>
              <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

              <div class="slick3 gallery-lb">
                <div class="item-slick3" data-thumb="images/product-detail-01.jpg">
                  <div class="wrap-pic-w pos-relative">
                    <img src="../images/product-detail-01.jpg" alt="IMG-PRODUCT">

                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                       href="../images/product-detail-01.jpg">
                      <i class="fa fa-expand"></i>
                    </a>
                  </div>
                </div>

                <div class="item-slick3" data-thumb="images/product-detail-02.jpg">
                  <div class="wrap-pic-w pos-relative">
                    <img src="../images/product-detail-02.jpg" alt="IMG-PRODUCT">

                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                       href="../images/product-detail-02.jpg">
                      <i class="fa fa-expand"></i>
                    </a>
                  </div>
                </div>

                <div class="item-slick3" data-thumb="images/product-detail-03.jpg">
                  <div class="wrap-pic-w pos-relative">
                    <img src="../images/product-detail-03.jpg" alt="IMG-PRODUCT">

                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                       href="../images/product-detail-03.jpg">
                      <i class="fa fa-expand"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-5 p-b-30">
          <div class="p-r-50 p-t-5 p-lr-0-lg">
            <h4 class="mtext-105 cl2 js-name-detail p-b-14">
              Lightweight Jacket
            </h4>

            <span class="mtext-106 cl2">
								$58.79
							</span>

            <p class="stext-102 cl3 p-t-23">
              Nulla eget sem vitae eros pharetra viverra. Nam vitae luctus ligula. Mauris consequat
              ornare feugiat.
            </p>

            <!--  -->
            <div class="p-t-33">
              <div class="flex-w flex-r-m p-b-10">
                <div class="size-203 flex-c-m respon6">
                  Size
                </div>

                <div class="size-204 respon6-next">
                  <div class="rs1-select2 bor8 bg0">
                    <select class="js-select2" name="time">
                      <option>Choose an option</option>
                      <option>Size S</option>
                      <option>Size M</option>
                      <option>Size L</option>
                      <option>Size XL</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                  </div>
                </div>
              </div>

              <div class="flex-w flex-r-m p-b-10">
                <div class="size-203 flex-c-m respon6">
                  Color
                </div>

                <div class="size-204 respon6-next">
                  <div class="rs1-select2 bor8 bg0">
                    <select class="js-select2" name="time">
                      <option>Choose an option</option>
                      <option>Red</option>
                      <option>Blue</option>
                      <option>White</option>
                      <option>Grey</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                  </div>
                </div>
              </div>

              <div class="flex-w flex-r-m p-b-10">
                <div class="size-204 flex-w flex-m respon6-next">
                  <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                    <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                      <i class="fs-16 zmdi zmdi-minus"></i>
                    </div>

                    <input class="mtext-104 cl3 txt-center num-product" type="number"
                           name="num-product" value="1">

                    <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                      <i class="fs-16 zmdi zmdi-plus"></i>
                    </div>
                  </div>

                  <button
                      class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
                    Add to cart
                  </button>
                </div>
              </div>
            </div>

            <!--  -->
            <div class="flex-w flex-m p-l-100 p-t-40 respon7">
              <div class="flex-m bor9 p-r-10 m-r-11">
                <a href="#"
                   class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100"
                   data-tooltip="Add to Wishlist">
                  <i class="zmdi zmdi-favorite"></i>
                </a>
              </div>

              <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                 data-tooltip="Facebook">
                <i class="fa fa-facebook"></i>
              </a>

              <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                 data-tooltip="Twitter">
                <i class="fa fa-twitter"></i>
              </a>

              <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                 data-tooltip="Google Plus">
                <i class="fa fa-google-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--===============================================================================================-->
<script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/bootstrap/js/popper.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/select2/select2.min.js"></script>
<script>
  $(".js-select2").each(function () {
    $(this).select2({
      minimumResultsForSearch: 20,
      dropdownParent: $(this).next('.dropDownSelect2')
    });
  })
</script>
<!--===============================================================================================-->
<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
  $('.js-pscroll').each(function () {
    $(this).css('position', 'relative');
    $(this).css('overflow', 'hidden');
    var ps = new PerfectScrollbar(this, {
      wheelSpeed: 1,
      scrollingThreshold: 1000,
      wheelPropagation: false,
    });

    $(window).on('resize', function () {
      ps.update();
    })
  });
</script>
<!--===============================================================================================-->
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
<script src="js/map-custom.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>
<script src="/js/common.js"></script>
<script>
  $(document).ready(function () {

    let auth = localStorage.getItem('accessToken');
    //로그인 안되어 있으면 로그인으로 옮기기
    if (!auth) {
      alert("로그인 후 이용해 주세요");
      window.location.href = "login.html";
    }


    /* 장바구니 아이콘 개수 */
    window.common.getShoppingCart()
    .done(function (response) {
      if (response) {
        $('a#cart-icon')[0].dataset.notify = response.cartItemDtoList.length;
      } else {
        // no response
      }
    })
    .fail(function (error) {
      console.log(error.message)
    });

    /* 찜 아이콘 개수 */
    window.common.getWishList()
    .done(function (response) {
      if (response) {
        $('a#wish-icon')[0].dataset.notify = response.length;
      } else {
        // no response
      }
    })
    .fail(function (error) {
      console.log(error.message)
    });
  });
</script>

<script>
  document.getElementById('submit-button').addEventListener('click', function () {
    const form = document.getElementById('inquiry-form');
    const formData = new FormData(form);

    // JSON 데이터 생성
    const requestDto = {
      title: formData.get('title'),
      type: formData.get('type'),
      question: formData.get('question')
    };

    // 입력값이 모두 있는지 확인
    if (!requestDto.title || !requestDto.type || !requestDto.question) {
      // 입력값이 부족한 경우 사용자에게 오류 메시지 표시
      alert('모든 필드를 입력해 주세요.');
      return; // 함수 종료
    }

    // FormData에 QuestionRequestDto requestDto, List<MultipartFile> file 추가
    const finalFormData = new FormData();
    finalFormData.append('requestDto',
        new Blob([JSON.stringify(requestDto)], {type: 'application/json'}));

    // 파일을 FormData에 추가
    const fileInput = document.getElementById('file-upload');
    if (fileInput.files.length > 0) {
      for (let i = 0; i < fileInput.files.length; i++) {
        finalFormData.append('file', fileInput.files[i]);
      }
    }

    postQuestion(finalFormData);
  });

  // AJAX 요청
  function postQuestion(finalFormData) {
    $.ajax({
      type: 'POST',
      url: '/questions',
      data: finalFormData,
      processData: false, // FormData를 있는 그대로 전송하도록 설정
      contentType: false, // multipart/form-data로 전송되도록 설정
      success: function (response, textStatus, jqXHR) {
        if (jqXHR.status >= 200 && jqXHR.status < 300) {
          // alert("문의 등록 성공");
          console.log("문의 등록 성공");
          alert("문의 등록 성공")
          location.reload()
        } else {
          alert("문의 등록 실패")
        }
      },
      error: function (error) {
        alert("에러: " + error.responseText);
      },
    });
  }
</script>
</body>
</html>