<!DOCTYPE html>
<html lang="en">
<head>
    <title>Review</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../images/icons/favicon.png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="../fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../css/util.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/review.css">
    <link rel="stylesheet" type="text/css" href="/css/order.css">
    <!--===============================================================================================-->
</head>
<body class="animsition">

<!-- Header -->
<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <!-- Topbar -->
        <div class="top-bar">
            <div class="content-topbar flex-sb-m h-full container">
                <div class="left-top-bar">
                    패셔니스타들을 위한, 패셔니스타들에 의한 패션노바
                </div>

                <div class="right-top-bar flex-w h-full">
                    <a href="login.html" id="auth-btn" class="flex-c-m trans-04 p-lr-25">
                        Login
                    </a>

                    <a href="question.html" class="flex-c-m trans-04 p-lr-25">
                        Q&A
                    </a>

                    <a href="my-page.html" class="flex-c-m trans-04 p-lr-25">
                        My Page
                    </a>
                </div>
            </div>
        </div>

        <div class="wrap-menu-desktop">
            <nav class="limiter-menu-desktop container">

                <!-- Logo desktop -->
                <a href="index.html" class="logo">
                    <img src="../images/icons/logo-01.png" alt="IMG-LOGO">
                </a>

                <!-- Menu desktop -->
                <div class="menu-desktop">
                    <ul class="main-menu">
                        <li>
                            <a href="about.html">About</a>
                        </li>

                        <li class="label1" data-label1="hot">
                            <a href="product.html">Shop</a>
                        </li>

                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>

                <!-- Icon header -->
                <div class="wrap-icon-header flex-w flex-r-m">
                    <a id="cart-icon" href="shoping-cart.html"
                       class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart"
                       data-notify="">
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </a>

                    <a id="wish-icon" href="wish-list.html"
                       class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
                       data-notify="">
                        <i class="zmdi zmdi-favorite-outline"></i>
                    </a>
                </div>
            </nav>
        </div>
    </div>
</header>

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92"
         style="background-image: url('/images/bg-01.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        My Review
    </h2>
</section>

<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <a href="my-page.html" class="stext-109 cl8 hov-cl1 trans-04">
            My Page
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
				My Review
			</span>
    </div>
</div>

<!-- My Review -->
<form class="bg0 p-t-75 p-b-85">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <div class="m-l-10 m-r--100 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">
                        <table class="table-shopping-cart">
                            <thead>
                            <tr class="table_head">
                                <th class="column-1">Product</th>
                                <th class="column-2"></th>
                                <th class="column-3">Date</th>
                                <th class="column-4">Grade</th>
                                <th class="column-5">Review</th>
                                <th class="column-6"></th>
                                <th class="column-7">Edit</th>
                            </tr>
                            </thead>
                            <tbody id="review-list">
                            <!-- 리뷰가 동적으로 추가될 곳 -->
                            </tbody>
                        </table>

                        <!-- 페이지 네비게이션 버튼 -->
                        <div class="flex-c-m m-t-20">
                            <button id="prev-page" class="btn btn-secondary" disabled>이전</button>
                            <button id="next-page" class="btn btn-primary m-l-20">다음</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Edit Review Modal -->
<div id="updateReviewModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h4 class="mtext-105 cl2 txt-center p-b-30">리뷰 수정</h4>
        <form id="updateReviewForm">
            <div class="form-group">
                <label for="updateReviewText">리뷰 내용</label>
                <textarea id="updateReviewText" class="form-control" rows="5"
                          placeholder="리뷰 내용을 입력하세요"></textarea>
            </div>
            <div class="form-group">
                <span class="stext-102 cl3 m-r-16">
                    별점
                </span>
                <span class="wrap-rating fs-18 cl11 pointer">
                    <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                    <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                    <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                    <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                    <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                    <input class="dis-none" type="number" name="rating">
                </span>
            </div>
            <div class="form-group">
                <label for="updateReviewFile">파일 첨부하기</label>
                <input type="file" id="updateReviewFile" class="form-control-file">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">수정</button>
                <button type="button" class="btn btn-secondary close-modal">취소</button>
            </div>
            <input type="hidden" id="updateReviewId">
        </form>
    </div>
</div>

<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    FEEDBACK
                </h4>

                <p class="stext-107 cl7 size-201">
                    언제나 고객님들의 피드백을 반영하여 항상 더욱 발전하는 패션 노바가 되겠습니다.
                </p>
            </div>

            <div class="p-t-40">
                <div class="flex-c-m flex-w p-b-18">
                    <a href="#" class="m-all-1">
                        <img src="../images/icons/icon-pay-01.png" alt="ICON-PAY">
                    </a>
                </div>

                <p class="stext-107 cl6 txt-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    이 홈페이지는 상업적으로 이용되지 않습니다.
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
</div>

<!--===============================================================================================-->
<script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/bootstrap/js/popper.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/select2/select2.min.js"></script>
<script>
    $(".js-select2").each(function () {
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });
    })
</script>
<!--===============================================================================================-->
<script src="../vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
    $('.js-pscroll').each(function () {
        $(this).css('position', 'relative');
        $(this).css('overflow', 'hidden');
        var ps = new PerfectScrollbar(this, {
            wheelSpeed: 1,
            scrollingThreshold: 1000,
            wheelPropagation: false,
        });

        $(window).on('resize', function () {
            ps.update();
        })
    });
</script>
<!--===============================================================================================-->
<script src="/js/common.js"></script>
<script src="../js/main.js"></script>
<!--===============================================================================================-->

<script>
    let currentPage = 0;
    const pageSize = 10; // 페이지당 아이템 수

    $(document).ready(function () {

        let auth = localStorage.getItem('accessToken');
        //로그인 안되어 있으면 로그인으로 옮기기
        if (!auth) {
            alert("로그인 후 이용해 주세요");
            window.location.href = "login.html";
        }


        /* 장바구니 아이콘 개수 */
        window.common.getShoppingCart()
        .done(function (response) {
            if (response) {
                $('a#cart-icon')[0].dataset.notify = response.cartItemDtoList.length;
            } else {
                // no response
            }
        })
        .fail(function (error) {
            console.log(error.message)
        });

        /* 찜 아이콘 개수 */
        window.common.getWishList()
        .done(function (response) {
            if (response) {
                $('a#wish-icon')[0].dataset.notify = response.length;
            } else {
                // no response
            }
        })
        .fail(function (error) {
            console.log(error.message)
        });

        $('#next-page').on('click', function (event) {
            event.preventDefault(); // 기본 동작 방지
            currentPage++;
            fetchQuestions();
        });

        $('#prev-page').on('click', function (event) {
            event.preventDefault(); // 기본 동작 방지
            if (currentPage > 0) {
                currentPage--;
                fetchQuestions();
            }
        });

        fetchReviews()
    });
</script>
<!--===============================================================================================-->
/* 찜 페이지에 리뷰 추가 */
<script src="../vendor/sweetalert/sweetalert.min.js"></script>
<script>
    // 리뷰 데이터 가져오기 함수
    function fetchReviews() {
        console.log(`Fetching reviews for page ${currentPage}`);
        $.ajax({
            type: 'GET',
            url: `/reviews?page=${currentPage}`, // 서버에서 페이지와 페이지 크기를 쿼리 파라미터로 받는 경우
            success: function (response) {

                // id 기준으로 내림차순 정렬 (대안으로 사용 가능)
                response.content.sort(function(a, b) {
                    return b.id - a.id; // id 기준 내림차순 정렬
                });

                renderReviews(response.content);
                updatePagination(response.totalPages);
            },
            error: function (error) {
                console.error('Failed to load reviews:', error);
            }
        });
    }

    // 리뷰 데이터를 기반으로 HTML 카드 생성
    function renderReviews(reviews) {
        const $reviewList = $('#review-list');
        $reviewList.empty(); // 기존 내용을 지우고 새로 추가

        reviews.forEach(function (review) {
            const reviewCard = `
          <tr class="table_row" data-review-id="${review.id}">
            <td class="column-1">
              <div class="how-itemcart1">
                <img src="${review.reviewImageUrl[0]}" alt="IMG">
              </div>
            </td>
            <td class="column-2">${review.product}</td>
            <td class="column-3">${new Date().toISOString().split('T')[0]}</td>
            <td class="column-4">
              <span class="fs-18 cl11">
                ${renderStars(review.rating)}
              </span>
            </td>
            <td class="column-5">${review.review}</td>
            <td class="column-6"></td>
            <td class="column-7">
              <button type="button" class="flex-c-m stext-101 cl0 size-103 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer edit-review-btn">
                Edit
              </button>
              <br>
              <button type="button" class="flex-c-m stext-101 cl2 size-103 bg8 bor14 hov-btn3 p-lr-15 trans-04 pointer delete-review-btn">
                Delete
              </button>
            </td>
          </tr>
        `;
            $reviewList.append(reviewCard);
        });

        // 리뷰 삭제
        $(document).on('click', '.delete-review-btn', function () {
            let $this = $(this);
            let reviewId = $this.closest('.table_row').data('review-id');

            var reviewDeleteRequestDto = {
                reviewId: reviewId
            };

            $.ajax({
                url: `/reviews`,
                type: 'DELETE',
                contentType: 'application/json',
                data: JSON.stringify(reviewDeleteRequestDto),
                success: function (response, textStatus, jqXHR) {
                    if (jqXHR.status === 200 && jqXHR.status < 300) {
                        swal("Deleted!", "리뷰가 삭제되었습니다.", "success");
                        fetchReviews(); // 업데이트 후에 다시 리뷰를 가져옴
                    } else {
                        swal("Failed!", "리뷰를 삭제할 수 없습니다.", "error");
                    }
                },
                error: function (error) {
                    alert("에러: " + error.message);
                }
            });
        });

        // 리뷰 업데이트 모달 표시
        $(document).on('click', '.edit-review-btn', function () {
            let $this = $(this);
            let reviewId = $this.closest('.table_row').data('review-id');
            let reviewText = $this.closest('.table_row').find('.column-5').text();
            let reviewRating = $this.closest('.table_row').find('.column-4 span i.zmdi-star').length;

            $('#updateReviewId').val(reviewId);
            $('#updateReviewText').val(reviewText);
            $('#updateReviewRating').val(reviewRating);
            $('#updateReviewModal').show();
        });

        // 별점 선택 시
        $(document).on('click', '.item-rating', function () {
            let index = $(this).index() + 1;
            $('input[name="rating"]').val(index);
            updateStarDisplay(index);
        });


        // 리뷰 업데이트 폼 제출
        $('#updateReviewForm').submit(function (event) {
            event.preventDefault();

            let reviewUpdateRequestDto = {
                reviewId: $('#updateReviewId').val(),
                review: $('#updateReviewText').val(),
                rating: $('input[name="rating"]').val()  // 여기서 rating 값을 가져옵니다.
            };

            $.ajax({
                url: `/reviews`,
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify(reviewUpdateRequestDto),
                success: function (response, textStatus, jqXHR) {
                    if (jqXHR.status === 200) {
                        swal("Updated!", "리뷰가 수정되었습니다.", "success");
                        $('#updateReviewModal').hide(); // 모달 닫기
                        fetchReviews(); // 업데이트 후에 다시 리뷰를 가져옴
                    } else {
                        swal("Failed!", "리뷰를 수정할 수 없습니다.", "error");
                    }
                },
                error: function (error) {
                    alert("Error: " + error.message);
                }
            });
        });
    }

    // 모달 닫기
    $(document).on('click', '.close-modal, .close', function () {
        $('#updateReviewModal').hide();
    });

    // 클릭 시 모달 닫기
    $(window).click(function (event) {
        if (event.target.id === 'updateReviewModal') {
            $('#updateReviewModal').hide();
        }
    });

    // 별점 렌더링 함수
    function renderStars(rating) {
        let stars = '';
        for (let i = 0; i < 5; i++) {
            if (i < rating) {
                stars += '<i class="zmdi zmdi-star"></i>';
            } else {
                stars += '<i class="zmdi zmdi-star-outline"></i>';
            }
        }
        return stars;
    }

    // 별점 표시 업데이트
    function updateStarDisplay(rating) {
        $('.item-rating').each(function (index) {
            if (index < rating) {
                $(this).removeClass('zmdi-star-outline').addClass('zmdi-star');
            } else {
                $(this).removeClass('zmdi-star').addClass('zmdi-star-outline');
            }
        });
    }

    // 페이지 네비게이션 업데이트
    function updatePagination(totalPages) {
        $('#page-info').text(`Page ${currentPage + 1}`);

        $('#prev-page').attr('disabled', currentPage === 0);
        $('#next-page').attr('disabled', currentPage >= totalPages - 1);
    }

</script>
<!--===============================================================================================-->
</body>
</html>
